{{!-- call-info/template.hbs --}}

<h2>{{model.name}}</h2>

<ul>
  <li>Call Time: {{model.callTime}}</li>
  <li>Call Length: {{model.length}}</li>
  <li>Phone: {{model.phone}}</li>
</ul>

<p class="links">
  {{#link-to "index"}}Home{{/link-to}}

  {{#link-to "call-edit" model._id}}
    {{fa-icon "pencil"}}
  {{/link-to}}
</p>
